html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  width: 100%;
}

.grande {
  width: 100%;
  background-image: url("photo1.png");
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 60px;
  justify-content: space-between;
  top: 0;
  left: 50px;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  color: white;
}

header > img {
  height: 25px;
}

.bouton1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

h2 {
  font-family: "Brandon Grotesque";
  font-weight: 900;
  letter-spacing: 6px;
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.bouton1 > p {
  font-family: "Adobe Caslon Pro";
  font-weight: 500;
  font-style: italic;
  color: white;
  font-size: 50px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1080px) {
  h2 {
    font-size: 4.6vw;
  }
  .bouton1 > p {
    font-size: 4.6vw;
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.image1 {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("photo2.png");
  background-size: cover;
  background-position: 25% 75%;
}

.image2 {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("photo3.png");
  background-size: cover;
  background-position: center center;
}

.image3 {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("photo4.png");
  background-size: cover;
  background-position: center center;
}

.image4 {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("photo5.png");
  background-size: cover;
  background-position: center center;
}

.bouton {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.bloc {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  padding:30px;;
}

h3 {
  font-family: "Montserrat";
  color: #d7d7d7;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight:900;
}

.bloc > p {
  font-family: "Montserrat";
  font-size: 20px;
  color: #4c4c4e;
  text-align: center;
  line-height: 44px;
  width: 68%;
  margin-bottom: 50px;
}

.points {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.jason > p {
  font-family: "Montserrat";
  font-size: 20px;
  color: #4c4c4e;
}

.vide, .imagepoints, .jason {
  width:33%;
}

.imagepoints img {
  width:43px;
  height:10px;
}

.imagepoints {
  display:flex;
  justify-content:center;
}

@media screen and (max-width: 961px) {
  .wrap {
    flex-direction:column;
  }
  .image1, .image2, .image3, .image4 {
    width:100%;
  }
  .bloc p {
    width:80%;
  }
}

footer {
  margin-top: 5%;
}

.first {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.first > div {
  width: 20%;
  padding: 60px;
  min-width: 359px;
}

.instapic {
  display: flex;
  flex-wrap: wrap;
  width:100%;
}

.instapic > img {
  width: 33%;
  padding: 5px;
}

.bloc1 {
  display: flex;
  flex-direction: column;
}

h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 30px;
  color: #4c4c4e;
  margin-bottom: 47px;
}

.bloc4 {
}

footer > * {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
}

.p2 {
  font-size: 12px;
  color: #7e7e7e;
  margin-bottom: 40px;
}

.p3 {
  color: #7e7e7e;
}

.bloc3 p:nth-child(3) {
  margin-bottom: 40px;
}

.p2:nth-last-child(1) {
  margin-bottom: 0;
}

.bloc4 p:nth-child(2) {
  color: #7e7e7e;
  margin-bottom: 50px;
}

.bloc4 p:nth-child(1) {
  color: black;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
}

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid grey;
  height: 30px;
}

.email img {
  height: 13px;
  margin-right: 10px;
}

.second .blocx {
  display:flex;
  justify-content: space-between;
  height: 20vh;
}

.text p {
  display:flex;
  justify-content: center;
}

.logofin {
  display: flex;
}

@media screen and (max-width:1134px) {
  .logofin {
    justify-content: center;
  }
}

.logofin img {
  margin-left: 10px;
  margin-top: 3px;
  width:69px;
  height:13px;
}

.blocx div {
  width: 33%;
}

@media screen and (max-width:970px) {
  .blocx .vide {
    width:0;
  }
  .blocx .text, .logofin {
    width:50%;
  }
  .blocx {
    margin-left:60px;
  }
}

@media screen and (max-width:700px) {
  .blocx {
    flex-direction : column;
  }
  .blocx div {
    width:100%;
  }
  .text p {
    width:100%;
  }
  .blocx .text {
    width:100%;
  }
}

.bloc4 span {
  color: black;!important
}
